{% include 'dashboard/header.html' %}

<div class="container">
  <div class="row">
    <div class="col-12">
      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}
      <script>
        swal("Confirmación", "{{message}}", "success");
      </script>
      {% endfor %} {% endif %} {% endwith %}

      <div class="row">
        <div class="col-md-6 offset-md-3 mb-4">
          <form action="/search" id="buscador" method="POST">
            <div class="input-group">
              <input
                type="text"
                placeholder="Ingrese el título que desea buscar..."
                name="q"
                id="q"
                class="form-control width-75"
              />
              <button type="submit" class="btn btn-success fs-5">Buscar</button>
            </div>
          </form>
          <script>
            let buscador = document.querySelector("#buscador");
            let q = document.querySelector("#q");
            buscador.addEventListener("submit", function (e) {
              e.preventDefault();
              location.href = "/search?q=" + q.value;
            });
          </script>
        </div>
      </div>

      <div class="alert alert-dismissible alert-dark shadow-md">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
        ></button>
        <h3 class="alert-heading">
          Selección sorpresa
          <span style="display: inline-block; transform: rotate(10deg)"
            >🎁</span
          >
        </h3>
        <img
          src="{{recomendado[6]}}"
          alt=""
          class="img-responsive"
          style="box-shadow: 0px 0px 5px 1px #000"
          width="50"
          height="80"
        />
        <p class="ms-2 d-inline">
          <strong
            ><span class="fs-4 text-dark"
              ><a class="text-dark" href="/view/{{recomendado[0]}}"
                >{{recomendado[1]}}</a
              ></span
            ></strong
          >
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    {% for libro in libros %}

    <div class="col-md-4 col-sm-6 my-2 d-flex justify-content-center">
      <div class="card shadow" style="width: 18rem">
        {% if libro[4] == "Terror" %}
        <span
          class="badge bg-primary rounded-bottom position-absolute top-0 start-0 ms-1 mt-1"
          >{{libro[4]}}</span
        >
        {% endif %} {% if libro[4] == "Fantasía" %}
        <span
          class="badge bg-info rounded-bottom position-absolute top-0 start-0 ms-1 mt-1"
          >{{libro[4]}}</span
        >
        {% endif %} {% if libro[4] == "Drama" %}
        <span
          class="badge bg-danger rounded-bottom position-absolute top-0 start-0 ms-1 mt-1"
          >{{libro[4]}}</span
        >
        {% endif %} {% if libro[4] == "Acción" %}
        <span
          class="badge bg-success rounded-bottom position-absolute top-0 start-0 ms-1 mt-1"
          >{{libro[4]}}</span
        >
        {% endif %}
        <a href="/view/{{libro[0]}}">
          <img src="{{libro[6]}}" class="card-img-top" alt="{{libro[1]}}" />
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="fixed-bottom ms-1 mb-1">
  <a href="{{url_for('create')}}" class="btn btn-light btn-sm fw-bold"
    >Subir libro 📚</a
  >
</div>

{% include 'dashboard/footer.html' %}
